#todo {
    display: flex;
    position: relative;
    display: inline-block;
    text-align: center;
}
.posicion_boton {
    align-content: center;
}
.boton {
    text-align: center;
    color: black;
    border-radius: 0%;
}
.titulo {
    background-color: black;
    text-align: center;
}
.centrado {
    text-align: center;
}
.img-fluid {
    position: absolute;
}
.sin_cuenta {
    text-align: center;
}
