html {

    background: rgb(8, 74, 118);
}


body
{
    align-items: center;
    
}

h1
{

font-family: serif;
background color: white;

}

label 
{


font-weight: bold;

}

input{

    box-shadow: 2px 2px 2px 1px rgba(8, 74, 118);
}

.todo {
    
    position: center;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    
}
.posicion_boton 
{
    align-content: center;
}
.boton 
{
    text-align: center;
    color: black;
    border-radius: 0%;
    box-shadow: 10px 5px 5px black;

}
.titulo 
{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor
{
    position:relative;
    text-align: center;
}