#map 
    { 
    width: 50%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
    justify-content: center;
    margin: auto;
}


.divs_estructura
{
    background-color: aqua;
    width: 50%;
    height: 50%;
}

.paises_fijos
{

}

#organizador_paises
{

}